<header class="navbar navbar-static-top">
  <div class="container">
    <div id="logo-nav" class="navbar-header">
      <ul class="nav navbar-nav">
        <li><a href="../" id="logo" title="百度前端技术学院demo">百度前端技术学院demo</a></li>
      </ul>
    </div>
    <div id="bs-navbar" class="navbar-collapse collapse">
      <span class="btn" id="main-nav-toggle">菜单</span>
      <ul class="nav navbar-nav" ref="myMenu">
        <li routerLink="/xiaowei"  [class.selected]="currentSelected === 'xiaowei'"><span (click)="selectMenu('xiaowei')"
        >小薇学院</span></li>
        <li routerLink="/binbin" [class.selected]="currentSelected === 'binbin'"><span (click)="selectMenu('binbin')"
        >斌斌学院</span></li>
        <li routerLink="/yaoyao" [class.selected]="currentSelected === 'yaoyao'"><span (click)="selectMenu('yaoyao')"
        >耀耀学院</span></li>
        <li routerLink="/business" [class.selected]="currentSelected === 'business'"><span (click)="selectMenu('business')"
        >商业平台学院</span></li>
        <li routerLink="/echartsvr" [class.selected]="currentSelected === 'echartsvr'"><span (click)="selectMenu('echartsvr')"
        >Echarts & WebVR</span></li>
        <li routerLink="/nuomi" [class.selected]="currentSelected === 'nuomi'"><span (click)="selectMenu('nuomi')"
        >百度糯米学院</span></li>
      </ul>
    </div>
  </div>
</header>
