<footer class="footer">
  <ul class="list-inline text-center">
    <li><a href="https://github.com/giscafer/" target="_blank">giscafer © 2017</a></li>
    <li class="phone">ng2-ife-course</li>
    <li class="phone"><a href="https://github.com/giscafer/ng2-ife-course/issues/" target="_blank">意见反馈</a></li>
    <li class="phone"><a href="https://github.com/giscafer/ng2-ife-course/" target="_blank">Star Me</a></li>
    <li class="phone"><a href="https://github.com/giscafer/ng2-ife-course/" target="_blank">Power by Angular2</a></li>
  </ul>
  <p>推荐关注微信公众号：giscafer</p>
</footer>
